<div bsModal #createOrEditModal="bs-modal"   data-keyboard="false" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true">
    <div class="modal-dialog rounded-0 overflow-hidden modal-lg" style="min-width: 1200px !important;">
        <div class="modal-content" >
        <div class="modal-header">
          <!-- <button type="button" class="close" (click)="close()" [attr.aria-label]="('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
        </button> -->
            <div class="col-12">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                  <table class="table quotation-table-upper-left">
                    <tbody>
                      <tr>
                        <td >Client</td>
                        <td>{{qoutationDto?.client_name}}</td>
                      </tr>
                      <tr>
                        <td >Site Location</td>
                        <td>{{qoutationDto?.SiteName}}</td>
                      </tr>
                      <tr>
                        <td >Site Requester</td>
                        <td>{{qoutationDto?.RequesterPerson}}</td>
                      </tr>
                      <tr>
                        <td >Project Manager</td>
                        <td>{{qoutationDto?.project_manager_detail?.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <img class="img-fluid mt-4" width="150" src="assets/img/cbre-logo-mini.png" alt="client logo">
                </div>
                <div class="col-md-3">
                  <div class="row">
                    <table class="table quotation-table-upper-right">
                      <tbody>
                        <tr>
                          <td >PADSMRT#</td>
                          <td>{{qoutationDto.ReferenceNo}}</td>
                        </tr>
                        <tr>
                          <td >Creation Date</td>
                          <td>{{qoutationDto.Createdate}}</td>
                        </tr>
                        <tr>
                          <td >Revision Date</td>
                          <td>{{qoutationDto?.updated_at | date: 'yyyy-MM-dd' }}</td>
                        </tr>
                        <tr>
                          <td >Quote Validity</td>
                          <td>{{qoutationDto.EstimatesComplationDate}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </div>
              </div>
            </div>
           
        </div>
        <div class="modal-body  py-0 px-3 ">
          <!-- <div class="row " >
            <div class="client-logo position-absolute" style="top: 15px; left: 15px; z-index: 999;">
              <img class="img-fluid" width="180" src="assets/img/cbre-logo.png" alt="client logo">
            </div>
                  <div class="col-md-12" style="background-color:#006a4d1a; color: #006A4D">
                      <p class="mt-3 text-center" style="font-size: 12px;">PADSMRT#:{{qoutationDto.ReferenceNo}} - Location : {{qoutationDto.SiteName}} - Site Requester Person : {{qoutationDto.RequesterPerson}} - Project Manager Person: {{qoutationDto?.project_manager_detail?.name}}</p>
                      <p class=" text-center" style="font-size: 12px;">Creation Date : {{qoutationDto.Createdate}} -  Revision Date : {{qoutationDto?.updated_at}}</p>
                  </div>
                  <div class="col-md-12" style="background-color:white; color: #006A4D">
                      <p class="mt-3 text-center" style="font-size: 12px;">*** {{qoutationDto.QuotationNote}}  ***</p>

                  </div>
          </div> -->

          <div class="row ">
             <div class="col-12 p-0">
              <table class="table custom-table quote-table table-striped mb-4">
                <thead>
                  <tr style="background-color:#375623;">
                    <th scope="col" colspan="10">Material</th>
                    
                  </tr>
                  <tr style="background-color:  #a9d08e;">
                    <th scope="col">ID</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Manufacturer#</th>
                    <th scope="col">Distributor#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Price/u</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of qoutationDto.QoutationMaterialList;let row=index">
                    <th scope="row">{{row+1}}</th>
                    <td>{{item.ManufactureName}}</td>
                    <td>{{item.ManufactureNo}}</td>
                    <td>{{item.DistributorNo}}</td>
                    <td>{{item.Description}}</td>
                    <td>{{item.CurrencyName}}</td>
                    <td>{{item.price | currency}}</td>
                    <td>{{item.Qty}}</td>
                    <td>{{item.Unit}}</td>
                    <td>{{item.SubTotal | currency}}</td>
                  </tr>
                </tbody>
              </table>
             </div>
              </div>
              <div class="row ">
                <div class="col-12 p-0">
                  <table class="table custom-table quote-table table-striped mb-4">
                    <thead>
                      <tr style="background-color:#375623;">
                        <th scope="col" colspan="10">Shipment</th>
                        
                      </tr>
                      <tr style="background-color:  #a9d08e;">
                        <th scope="col">ID</th>
                        <th scope="col">Shipment Detail</th>
                        <th scope="col">Shipment Currency</th>
                        <th scope="col">Shipment Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">1</td>
                        <td>{{qoutationDto.ShipmentDetail}}</td>
                        <td>{{qoutationDto.ShipmentCurrencyId}}</td>
                        <td>{{qoutationDto.ShipmentPrice | currency}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                </div>
          <div class="row ">
              <div class="col-12 p-0">
                <table class="table custom-table quote-table table-striped mb-4">
                  <thead>
                    <tr style="background-color:#375623;">
                      <th scope="col" colspan="10">Task</th>
                      
                    </tr>
                    <tr style="background-color:  #a9d08e;">
                      <th scope="col">ID</th>
                      <th scope="col">Task Code</th>
                      <th scope="col">Description</th>
                      <th scope="col">Hours Per Task</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Total Hours</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of qoutationDto.Tasks;let row=index">
                      <td scope="row">{{row+1}}</td>
                      <td>{{item.taskCode}}</td>
                      <td>{{item.Description}}</td>
                      <td>{{item.perHoureRate}}</td>
                      <td>{{item.qty}}</td>
                      <td>{{item.subTotal}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </div>
             
          <div class="row ">
              <div class="col-12 p-0">
                <table class="table custom-table quote-table table-striped mb-4">
                  <thead>
                    <tr style="background-color:#375623;">
                      <th scope="col" colspan="10">Work Allocation</th>
                      
                    </tr>
                    <tr style="background-color: #a9d08e; ">
                      <th scope="col">ID</th>
                      <th scope="col">Work Force</th>
                      <th scope="col">Hour</th>
                      <th scope="col">Time Type</th>
                      <th scope="col">Rate Per Hour</th>
                      <th scope="col">Total Hours Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of qoutationDto.workfroceDetail;let row=index">
                      <td scope="row">{{row+1}}</td>
                      <td>{{item.workforceName}}</td>
                      <td>{{item.houre}}</td>
                      <td> 
                        <span *ngIf="item.timeType=='normal'">
                          Business Hours Rate
                      </span> 
                        <span *ngIf="item.timeType=='over_time'">
                          Out Of Hours Rate
                      </span> 
                        <span *ngIf="item.timeType=='weekend'">
                          Weekend Rate
                      </span> 
                        <span *ngIf="item.timeType=='g_h'">
                          Holiday Rate
                      </span> 
                        </td>    
                      
                      <!-- <option  value="normal">Business Hours Rate</option>
                      <option  value="over_time">Out Of Hours Rate</option>
                      <option  value="weekend">Weekend Rate</option>
                      <option  value="g_h" >Holiday Rate</option> -->
                      
                      <td>{{item.Price | currency}}</td>
                      <td>{{item.Price*item.houre | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              </div>
              <div class="row" *ngIf="qoutationDto.additionalChanres.length!=0">
                <div class="col-12 p-0">
                  <table class="table custom-table quote-table table-striped mb-4">
                    <thead>
                      <tr style="background-color:#375623;">
                        <th scope="col" colspan="10">Addtional Charges</th>
                        
                      </tr>
                      <tr style="background-color: #a9d08e;">
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">SubTotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of qoutationDto.additionalChanres;let row=index">
                        <th scope="row">{{row+1}}</th>
                        <td>{{item.desctiption}}</td>
                        <td>{{item.price | currency}}</td>
                        <td>{{item.subTotal | currency}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
  
                </div>
              <div class="row">
                <div class="col-md-9 pl-0">
                  <table class="table quote-table table-striped mb-4">

                    <tbody>
                      <tr style="background-color:#375623;">
                        <th width="100%" scope="row">Note/Remarks</th>
                        
                      </tr>
                      <tr>
                        <td width="100%">{{qoutationDto.QuotationNote}}</td>
                      </tr>

                    </tbody>
                </table>
                </div>
                <div class="col-md-3 pr-0">
                  <table class="table quote-table table-striped mb-4">

                    <tbody>
                      <tr>
                        <th width="70%" style="background-color:#375623; color: #fff;" class="text-right" scope="row">Material Total:</th>
                        <td align="right" style="background-color: #a9d08e;">{{material_sub_total  | currency}}</td>
                      </tr>
                      <tr>
                        <th width="70%" style="background-color:#375623; color: #fff;" class="text-right" scope="row">Labor Total:</th>
                        <td align="right" style="background-color: #a9d08e;">{{workFroce_sub_total | currency}}</td>
                      </tr>
                      <tr>
                        <th width="70%" style="background-color:#375623; color: #fff;"  class="text-right"  scope="row">Shipment Price:</th>
                        <td align="right" style="background-color: #a9d08e;">{{qoutationDto.ShipmentPrice==undefined?0:qoutationDto.ShipmentPrice | currency}}</td>
                      </tr>
                      <tr>
                        <th width="70%" style="background-color:#375623; color: #fff;"  class="text-right"  scope="row">Additional Total:</th>
                        <td align="right" style="background-color: #a9d08e;">{{additional_sub_total | currency}}</td>
                      </tr>
                      <tr>
                        <th width="70%" style="background-color:#375623; color: #fff;"  class="text-right"  scope="row">Total:</th>
                        <td align="right" style="background-color: #a9d08e;"> {{isIfNumber(additional_sub_total)+isIfNumber(qoutationDto.ShipmentPrice)+isIfNumber(workFroce_sub_total)+isIfNumber(material_sub_total) | currency}}</td>
                      </tr>

                    </tbody>
                </table>
                </div>


              </div>
      </div>


        <div class="modal-footer">
            <button class="btn btn-warning mr-1" (click)="Capture()" style="background-color: #006A4D; border:none; color:white;">Download PDF</button>
            <!-- <button class="btn btn-light mr-1" (click)="generatePDF('open')">Open PDF</button>
            <button class="btn btn-primary mr-1" (click)="generatePDF('download')" >Download PDF</button>
            <button class="btn btn-info mr-1" (click)="generatePDF('print')">Print PDF</button>
            <button class="btn btn-seondary mr-1" (click)="EmailQuotation()">Email</button> -->
            <button class="btn btn-danger mr-1" (click)="close()"  style="background-color: #006A4D; border:none; color:white;">Close</button>
        </div>
        </div>
    </div>
</div>
