<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-8 col-7">
            
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/workfore/rate-card">{{'Rate Card' | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{'Add' | translate}}</li>
                </ol>
            </nav>
            </div>
            
        </div>
        
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="col-md-12">

                        <form [formGroup]="createOrEditform" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="decipline_id">{{'Discipline Name' | translate}}</label>
                        
                                    <ng-select
                                    formControlName="decipline_id" 
                                    [items]="getDeciplines"
                                    placeholder="Select Discipline Name"
                                    bindLabel="name"
                                    bindValue="id"
                                    required [ngClass]="{ 'is-invalid': submitted && f.decipline_id.errors }">
                                    </ng-select>

                                    <!-- <select class="form-control" id="decipline_id" formControlName="decipline_id"
                                    [ngClass]="{ 'is-invalid': submitted && f.decipline_id.errors }">
                                        <option [ngValue]="null">Select Discipline</option>
                                        <option [value]="c.id" *ngFor="let c of getDeciplines">
                                            
                                            <span *ngIf="c.parent_id==null">
                                                {{c.name}}
                                                
                                            </span>
                                            <span *ngIf="c.parent_id!=null">-- {{c.name}}</span>
                                            
                                        </option>
                                    </select> -->
                        
                        
                                    
                                    <div *ngIf="submitted && f.decipline_id.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.decipline_id.errors.required">{{'Discipline Name is required' | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Category Name is required</div>
                                    </div>
                                </div>
                                
                        
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="is_active">{{'Status' | translate}}</label>
                        
                                    <select class="form-control" formControlName="is_active" id="is_active" [ngClass]="{ 'is-invalid': submitted && f.is_active.errors }">
                                        <option value="null">{{'Select Status' | translate}}</option>
                                        <option value="1">{{'Active' | translate}}</option>
                                        <option value="0">{{'Inactive' | translate}}</option>
                                    </select>
                                    <span class="svg-icon">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16"
                                            class="bi bi-chevron-down" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </span>
                                    <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                                        <div *ngIf="f.is_active.errors.required">{{'Status is required' | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="description">Description</label>
                                    <textarea formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" rows="3"></textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">Description is required</div>
                                    </div>
                                </div>
                        
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="currency_id">{{'Currency' | translate}}</label>

                                    <ng-select
                                    formControlName="currency_id" 
                                    [items]="currenies"
                                    placeholder="Select Currency"
                                    bindLabel="title"
                                    bindValue="id"
                                    required [ngClass]="{ 'is-invalid': submitted && f.currency_id.errors }">
                                    </ng-select>
                        
                                    <!-- <select class="form-control" id="currency_id" formControlName="currency_id"
                                    [ngClass]="{ 'is-invalid': submitted && f.currency_id.errors }">
                                        <option value="">{{'Select Currency' | translate}}</option>
                                        <option [value]="c.id" *ngFor="let c of currenies">{{c.title | translate}}</option>
                                    </select> -->
                        
                        
                                    <div *ngIf="submitted && f.currency_id.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.currency_id.errors.required">{{'Currency is required' | translate}}</div>
                                    </div>
                                </div>
                        
                                
                        
                        
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <label for="normal">Business Hours Rate</label>
                                    <input type="number" formControlName="normal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.normal.errors }"/>
                                    <div *ngIf="submitted && f.normal.errors" class="invalid-feedback">
                                        <div *ngIf="f.normal.errors.required">Rate is required</div>
                                    </div>
                                </div>
                        
                                <div class="form-group col-lg-3">
                                    <label for="over_time">Out of Hours Rate</label>
                                    <input type="number" formControlName="over_time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.over_time.errors }"/>
                                    <div *ngIf="submitted && f.over_time.errors" class="invalid-feedback">
                                        <div *ngIf="f.over_time.errors.required">Overtime rate is required</div>
                                    </div>
                                </div>
                        
                                <div class="form-group col-lg-3">
                                    <label for="weekend">Weekend Rate</label>
                                    <input type="number" formControlName="weekend" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weekend.errors }"/>
                                    <div *ngIf="submitted && f.weekend.errors" class="invalid-feedback">
                                        <div *ngIf="f.weekend.errors.required">Weekend rate is required</div>
                                    </div>
                                </div>
                        
                                <div class="form-group col-lg-3">
                                    <label for="g_h">Holiday Rate</label>
                                    <input type="number" formControlName="g_h" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.g_h.errors }"/>
                                    <div *ngIf="submitted && f.g_h.errors" class="invalid-feedback">
                                        <div *ngIf="f.g_h.errors.required">Holiday rate is required</div>
                                        
                                    </div>
                                </div>
                            </div>
                         
                            <div class="text-right">
                                <button class="btn btn-secondary" type="reset" routerLink="/admin/workfore/rate-card">{{'Cancel'}}</button>
                                <button class="btn btn-primary mr-1" >{{'Save'}}</button>
                                
                            </div>
                        </form>


                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>



