<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block" >
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/material/material-category">{{'Material Category' | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{'Add' | translate}}</li>
                </ol>
            </nav>
            </div>
            
        </div>
        
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="col-md-12">

                        <form [formGroup]="createCategory" (ngSubmit)="onSubmitCategory()">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="categoryName">{{'Category Name' | translate}}</label>

                                    <input type="text" placeholder="{{'Category Name' | translate}}"
                                    class="form-control" id="categoryName" formControlName="categoryName" name="categoryName"
                                    [ngClass]="{ 'is-invalid': submittedCreateCategory && cc.categoryName.errors }"/>
                                    <div *ngIf="submittedCreateCategory && cc.categoryName.errors" class="invalid-feedback">
                                        <div *ngIf="cc.categoryName.errors.required">{{'Category Name is required' | translate}}</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="parent_id">{{'Parent Category' | translate}}</label>
                                    <ng-select
                                    formControlName="parent_id" 
                                    [items]="parentCategories"
                                    placeholder="Select Parent Category"
                                    bindLabel="name"
                                    bindValue="id" >
                                    </ng-select>
                                    <!-- <select class="form-control" id="parent_id" formControlName="parent_id"
                                    [ngClass]="{ 'is-invalid': submittedCreateCategory && cc.parent_id.errors }">
                                        <option value="">Select Parent Category</option>
                                        <option [value]="c.id" *ngFor="let c of parentCategories">{{c.name}}</option>
                                    </select> -->

                                    
                                </div>

                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="categoryType">{{'Status' | translate}}</label>

                                    <select class="form-control" formControlName="categoryStatus" id="categoryType" [ngClass]="{ 'is-invalid': submittedCreateCategory && cc.categoryStatus.errors }">
                                        <option value="">{{'Select Status' | translate}}</option>
                                        <option value="1">{{'Active' | translate}}</option>
                                        <option value="0">{{'Inactive' | translate}}</option>
                                    </select>
                                    <span class="svg-icon">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16"
                                            class="bi bi-chevron-down" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </span>
                                    <div *ngIf="submittedCreateCategory && cc.categoryStatus.errors" class="invalid-feedback">
                                        <div *ngIf="cc.categoryStatus.errors.required">{{'Status is required' | translate}}</div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-lg-12">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" formControlName="description" placeholder="Description" class="form-control" [ngClass]="{ 'is-invalid': submittedCreateCategory && cc.description.errors }" id="description" rows="3"></textarea>
                                    
                                    <div *ngIf="submittedCreateCategory && cc.description.errors" class="invalid-feedback">
                                        <div *ngIf="cc.description.errors.required">Description is required</div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="row justify-content-end">
                                <div class="buttons">
                                    <button routerLink="/admin/material/material-category" class="btn btn-secondary">{{'Cancel' | translate}}</button>
                                    <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>