<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                            <li class="breadcrumb-item"><a routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin/dashboard">{{'DashBoard' | translate}}</a></li>
                            <li class="breadcrumb-item"><a aria-current="page" >{{'Settings' | translate}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page" routerLink="/admin/state">{{'States' | translate}}</li>
                        </ol>
                    </nav>
                </div>
                <!-- <div class="col-lg-6 col-5 text-right">
                    <a href="javascript:void(0)" routerLink="/admin/create-update-state"
                    class="btn btn-neutral">{{'New' | translate}}</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0" *ngIf="addComponent">
                    <div class="col-md-12">
                        <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
            
                                        <div class="">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-name">{{'State Name' | translate}}</label>
                                                        <input formControlName="name" name="name" required="required"
                                                            pattern=".{6,30}" type="text" placeholder="State Name"
                                                            class="form-control mb-3" id="input-name"
                                                            />
                                                        <span *ngIf="error && error.name" class="validation-span">{{ error.name }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-country">{{'Country' | translate}}</label>
                                                        <ng-select
                                                        (change) = "updateNgModel($event)"                                         
                                                        [items]="countries" 
                                                        bindLabel="name"
                                                        autofocus
                                                        bindValue="id"
                                                        [ngModel]="country_id" 
                                                        [ngModelOptions]="{standalone: true}">
                                                         </ng-select>
                                                         <span *ngIf="error && error.country_id" class="validation-span">{{'Country is required'  | translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-status">{{'Status' | translate}}</label>
                                                        <select formControlName="status" name="status" required="required"
                                                            class="form-control" id="input-status"
                                                            >
                                                            <option value="" selected="selected"></option>
                                                            <option value="1">{{'Active' | translate}}</option>
                                                            <option value="0">{{'Inactive' | translate}}</option>
                                                        </select>
                                                        <span *ngIf="error && error.status" class="validation-span">{{ 'Status is required' | translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
            
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" routerLink="/admin/state" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>
                                <button type="submit" class="btn btn-primary">{{'Save Changes' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-header border-0" *ngIf="editComponent">
                    <div class="col-md-12">
                        <form [formGroup]="editForm" (ngSubmit)="submitEditForm()">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
            
                                        <div class="">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-name">{{'State Name' | translate}}</label>
                                                        <input formControlName="name" name="name" required="required"
                                                            pattern=".{6,30}" type="text" placeholder="State Name"
                                                            class="form-control mb-3" id="input-name"
                                                            />
                                                        <span *ngIf="error && error.name" class="validation-span">{{ error.name }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-country">{{'Country' | translate}}</label>
                                                        <ng-select
                                                        (change) = "updateNgModel($event)"                                         
                                                        [items]="countries" 
                                                        bindLabel="name"
                                                        autofocus
                                                        bindValue="id"
                                                        [ngModel]="country_id" 
                                                        [ngModelOptions]="{standalone: true}">
                                                         </ng-select>
                                                         <span *ngIf="error && error.country_id" class="validation-span">{{'Country is required'  | translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-status">{{'Status' | translate}}</label>
                                                        <select formControlName="status" name="status" required="required"
                                                            class="form-control" id="input-status"
                                                            >
                                                            <option value="" selected="selected"></option>
                                                            <option value="1">{{'ON' | translate}}</option>
                                                            <option value="0">{{'OFF' | translate}}</option>
                                                        </select>
                                                        <span *ngIf="error && error.status" class="validation-span">{{ 'Status is required' | translate}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
            
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" routerLink="/admin/state" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>
                                <button type="submit" class="btn btn-primary">{{'Save Changes' | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


