.quotation-table-upper-left td{
  font-size: 12px;
  padding: 1px;
  color: black;
  width: 40%;
  border: 1px solid #000;
}
.quotation-table-upper-left td:first-child{
  font-size: 12px;
  background-color: #375623;
  width: 60%;
  border: 1px solid white;
  color: white;
}
.quotation-table-upper-right td{
  font-size: 12px;
  padding: 1px;
  color: black;
  width: 60%;
  border: 1px solid #000;
}
.quotation-table-upper-right td:first-child{
  font-size: 12px;
  background-color: #375623;
  width: 40%;
  border: 1px solid white;
  color: white;
}

.quote-table tr:first-child th{
  font-size: 13px;
  padding: 2px;
  color: white;
}
.quote-table th, .quote-table td{
  font-size: 11px;
  padding: 2px;
  color: black;
  border: 1px solid #000;
}