<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-8 col-7">
            
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/material/manufacture">{{'Material Manufacturer' | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{'Add' | translate}}</li>
                </ol>
            </nav>
            </div>
            
        </div>
        
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="col-md-12">
                        <form [formGroup]="createOrEditform" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Manufacturer Name </label>
                                    <input type="text" formControlName="name" class="form-control" placeholder="Manufacturer Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Manufacturer Name is required</div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-lg-6">
                                    <label class="form-control-label" for="is_active">{{'Status' | translate}}</label>
                        
                                    <select class="form-control" formControlName="is_active" id="is_active" [ngClass]="{ 'is-invalid': submitted && f.is_active.errors }">
                                        <option value="">{{'Select Status' | translate}}</option>
                                        <option value="1">{{'Active' | translate}}</option>
                                        <option value="0">{{'Inactive' | translate}}</option>
                                    </select>
                                    <span class="svg-icon">
                                        <svg width="20px" height="20px" viewBox="0 0 16 16"
                                            class="bi bi-chevron-down" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </span>
                                    <div *ngIf="submitted && f.is_active.errors" class="invalid-feedback">
                                        <div *ngIf="f.is_active.errors.required">{{'Status is required' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-secondary" type="reset" routerLink="/admin/material/manufacture">{{'Cancel'}}</button>
                                <button class="btn btn-primary mr-1" >{{'Save'}}</button>
                            </div>
                        </form>


                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>



