
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block" >
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/qoutation">{{'Quotation'}}</a></li>

                <li class="breadcrumb-item active" aria-current="page" *ngIf="!params">Add</li>
                <li class="breadcrumb-item active" aria-current="page" *ngIf="params">Edit</li>
                </ol>
            </nav>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row" id="contentToConvert">
        
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-6">
                            <h2 class="mb-0" *ngIf="!params">Create Quotation</h2>
                            <h2 class="mb-0" *ngIf="params" >Edit Quotation</h2>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="card-body">
                    <!-- <button (click)="generatePDF()">Generate PDF</button> -->
                    <form #QoutationFrom="ngForm" appFocusInvalidInput name="form" (ngSubmit)="QoutationFrom.form.valid && save()" novalidate autocomplete="off">
						<div class="card">
							<div class="card-header">
								<b>Quotation</b>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="form-group col-6">
										<label for="ReferenceNo">Reference No. <span style="color: red;">
												*</span></label>
                                        <input type="text" id="ReferenceNo" required class="form-control"
                                            [(ngModel)]="qoutationDto.ReferenceNo" name="ReferenceNo" placeholder="Enter Reference No."  
                                            
                                            #ReferenceNo="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && ReferenceNo.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && ReferenceNo.invalid" class="invalid-feedback">
                                                <div *ngIf="ReferenceNo.errors.required">Reference No. is Required</div>
                                            </div>
									</div>
									<div class="form-group col-6">
										<label for="CreatedDate">Date of Creation<span style="color: red;">
												*</span></label>
                                        <input type="date" id="CreatedDate"  required class="form-control"
                                        [ngClass]="{ 'is-invalid': QoutationFrom.submitted && Createdate.invalid }"
                                            [(ngModel)]="qoutationDto.Createdate" name="CreatedDate" placeholder="Select Date of Creation" #Createdate="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && Createdate.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && Createdate.invalid" class="invalid-feedback">
                                                <div *ngIf="Createdate.errors.required">Date of Creation is Required</div>
                                            </div>
									</div>
                                    <div class="form-group col-6">
                                        <label for="ClientId">Client<span style="color: red;">
                                                *</span></label>
                                        <select id="ClientId" class="form-control" #client_name="ngModel" required 
                                        [ngClass]="{ 'is-invalid': QoutationFrom.submitted && client_name.invalid }"
                                        [(ngModel)]="qoutationDto.ClientId" name="ClientId">
                                            <!-- <option [value]="undefined">Select Client</option> -->
                                            <option [value]="undefined">Select Client</option>
                                            <option  value="{{item.id}}" *ngFor="let item of clientList"> {{item.client_name}}</option>
                                        </select>
                                        <div *ngIf="QoutationFrom.submitted && client_name.invalid" class="invalid-feedback">
                                            <div *ngIf="client_name.errors.required">Client is Required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="Site">Site<span style="color: red;">
                                                *</span></label>
                                        <select id="SiteId" class="form-control" #SiteId="ngModel" required 
                                        [ngClass]="{ 'is-invalid': QoutationFrom.submitted && SiteId.invalid }"
                                        [(ngModel)]="qoutationDto.SiteId" name="SiteId">
                                            <option [value]="undefined">Select Site</option>
                                            <option  value="{{item.id}}" *ngFor="let item of siteList"> {{item.name}}</option>
                                        </select>
                                        <div *ngIf="QoutationFrom.submitted && SiteId.invalid" class="invalid-feedback">
                                            <div *ngIf="SiteId.errors.required">Site is Required</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="Site">Project Manager<span style="color: red;">
                                                *</span></label>
                                        <select id="projectManager" class="form-control" #projectManager="ngModel" required 
                                        [ngClass]="{ 'is-invalid': QoutationFrom.submitted && projectManager.invalid }"
                                        [(ngModel)]="qoutationDto.ProjectmanagerId" name="Site">
                                            <option [value]="undefined">Select Project Manager</option>
                                            <option  value="{{item.id}}" *ngFor="let item of AllProjectManager"> {{item.name}}</option>
                                        </select>
                                        <div *ngIf="QoutationFrom.submitted && projectManager.invalid" class="invalid-feedback">
                                            <div *ngIf="projectManager.errors.required">Project Manager Required</div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-6">
                                        <label for="SiteId">Site<span style="color: red;">
                                                *</span></label>
                                        <select id="SiteId" class="form-control" required #SiteId="ngModel" 
                                        [(ngModel)]="qoutationDto.SiteId"
                                        [ngClass]="{ 'is-invalid': QoutationFrom.submitted && SiteId.invalid }"
                                         name="SiteId">
                                            <option [value]="undefined">Select Site</option>
                                            <option  [value]="item.id" *ngFor="let item of siteList"> {{item.name}}</option>
                                        </select>
                                        <div *ngIf="QoutationFrom.submitted && SiteId.invalid" class="invalid-feedback">
                                            <div *ngIf="SiteId.errors.required">Site is Required</div>
                                        </div>
                                    </div> -->

                                    <div class="form-group col-6">
										<label for="RequesterPerson">Site Requester Person<span style="color: red;">
												*</span></label>
										<input type="text" required id="RequesterPerson"  class="form-control"
											[(ngModel)]="qoutationDto.RequesterPerson"  name="RequesterPerson" #RequesterPerson="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && RequesterPerson.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && RequesterPerson.invalid" class="invalid-feedback">
                                                <div *ngIf="RequesterPerson.errors.required">Requester Person is Required</div>
                                                
                                            </div>
									</div>
                                    <div class="form-group col-6">
										<label for="RequesterPersonEmail">Site Requester Email<span style="color: red;">
												*</span></label>
                                        <input type="email" id="RequesterPersonEmail" required  class="form-control"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" 
											[(ngModel)]="qoutationDto.RequesterPersonEmail" name="RequesterPersonEmail" #RequesterPersonEmail="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && RequesterPersonEmail.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && RequesterPersonEmail.invalid" class="invalid-feedback">
                                                <div *ngIf="RequesterPersonEmail.errors.required">Requester Email Required</div>
                                                <div *ngIf="RequesterPersonEmail.errors?.pattern">This is not a valid Email</div>
                                            </div>
                                            <!-- <div *ngIf="RequesterPersonEmail.touched">
                                                <p *ngIf="RequesterPersonEmail.errors?.required">Email is a required field!</p>
                                                <p *ngIf="RequesterPersonEmail.errors?.pattern">This is not a valid Email!!!</p>
                                              </div> -->
                                    </div>
                                    
                                    <div class="form-group col-6">
										<label for="RequesterPersonPhone">Site Requester Phone<span style="color: red;">
												*</span></label>
										<input type="text" id="RequesterPersonPhone"  mask="0*" required class="form-control"
											[(ngModel)]="qoutationDto.RequesterPersonPhone" name="RequesterPersonPhone" #RequesterPersonPhone="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && RequesterPersonPhone.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && RequesterPersonPhone.invalid" class="invalid-feedback">
                                                <div *ngIf="RequesterPersonPhone.errors.required">Requester Phone Required</div>
                                                <div *ngIf="RequesterPersonPhone.errors.pattern">  
                                                    Mobile number not valid.  
                                                  </div>  
                                            </div>
                                    </div>

                                    <!-- <div class="form-group col-6">
										<label for="DesignerPerson">Designer Person<span style="color: red;">
												*</span></label>
										<input type="text" required id="DesignerPerson"  class="form-control"
											[(ngModel)]="qoutationDto.DesignerPerson" name="DesignerPerson" #DesignerPerson="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && DesignerPerson.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && DesignerPerson.invalid" class="invalid-feedback">
                                                <div *ngIf="DesignerPerson.errors.required">Designer Person Required</div>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group col-6">
										<label for="DesignerPersonEmail">Designer Email<span style="color: red;">
												*</span></label>
                                        <input type="text" id="DesignerPersonEmail" required  class="form-control"
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" 
											[(ngModel)]="qoutationDto.DesignerPersonEmail" name="DesignerPersonEmail" #DesignerPersonEmail="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && DesignerPersonEmail.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && DesignerPersonEmail.invalid" class="invalid-feedback">
                                                <div *ngIf="DesignerPersonEmail.errors.required">Designer Email Required</div>
                                                <div *ngIf="DesignerPersonEmail.errors?.pattern">This is not a valid Email</div>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group col-6">
										<label for="DesignerPersonPhone">Designer Phone<span style="color: red;">
												*</span></label>
                                        <input type="text" id="DesignerPersonPhone"  required class="form-control"
                                        mask="0*"
											[(ngModel)]="qoutationDto.DesignerPersonPhone" name="DesignerPersonPhone" #DesignerPersonPhone="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && DesignerPersonPhone.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && DesignerPersonPhone.invalid" class="invalid-feedback">
                                                <div *ngIf="DesignerPersonPhone.errors.required">Designer Phone Required</div>
                                                <div *ngIf="DesignerPersonPhone.errors.pattern">  
                                                    Mobile number not valid.  
                                                  </div>  
                                            </div>
                                    </div> -->
                                    
                                    <div class="form-group col-6" *ngIf="IsGenerated == 1">
                                        <label for="QuoteStatusId">Quote Status <span style="color: red;">
                                                *</span></label>
                                        <select id="QuoteStatusId" class="form-control"  [(ngModel)]="qoutationDto.QuoteStatusId" name="SiteId">
                                            <option [value]="undefined">Select Quote Status</option>
                                            <option  value="{{item.id}}" *ngFor="let item of quoStatusList"  [disabled]="checkStatus(item.status_code)"> 
                                            {{item.name}}</option>
                                        </select>
                                    </div>
                                    
								</div>
							</div>
						</div>
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <b>Quotation Materials</b>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <label class="col-12" for="Material">Material</label>
                                    <div class="col-12 p-0 mb-3 d-flex align-items-center">
                                        <div class="form-group mb-0 col-8">
                                        
                                            <ng-select [items]="materialList" 
                                             bindLabel="name" name="Material" id="Material" 
                                            placeholder="Select Material" [(ngModel)]="material">
                                            </ng-select>
                                            
                                        </div>
                                        <button type="button" class="btn btn-primary ml-3"  [disabled]="!material" (click)="AddMateial()"> Add</button>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-custom" *ngIf="qoutationDto.QoutationMaterialList.length>0" #Materialtable>
                                        <thead>
                                            <tr>
                                                <th>Manufacturer</th>
                                                <th>Manufacturer #</th>
                                                <th>Distributor #</th>
                                                <th>Material</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Currency</th>
                                                <th>Unit</th>
                                                <th>Description</th>
                                                <th>Sub Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of qoutationDto.QoutationMaterialList;let row=index;">
                                                <td> 
                                                    {{item.ManufactureName}}
                                                </td>
                                                <td>{{item.ManufactureNo}}</td>
                                                <td>
                                                    {{item.DistributorNo}}
                                                </td>
                                                <td title="{{item.MaterialName}}">{{item.MaterialName | slice:0:10}}</td>
                                                <td>
                                                    <input [ngModelOptions]="{standalone: true}" type="text" mask="separator.2" thousandSeparator="," required  (keyup)="getSubTotalMateial(row)"  id="Qty-{{row}}"  class="form-control input-sm"
                                                    [(ngModel)]="item.Qty" name="Qty-{{row}}" #MaterialQty="ngModel"
                                                    [ngClass]="{ 'is-invalid': QoutationFrom.submitted && MaterialQty.invalid }"
                                                    />
                                                    <div *ngIf="QoutationFrom.submitted && MaterialQty.invalid" class="invalid-feedback">
                                                        <div *ngIf="MaterialQty.errors.required">Quentity Required</div>
                                                    </div>
                                                  
                                                </td>
                                                <td>
                                                    {{item.price}}
                                                </td>
                                                <td>
                                                        <!-- <select class="form-control" name="country-{{row}}" [(ngModel)]="item.CurrencyId" #country="ngModel" 
                                                        [ngClass]="{'invalid-data': country.invalid && QoutationFrom.submitted, 'valid-data': country.valid && QoutationFrom.submitted}" required>  
                                                          <option [ngValue]="undefined">--Select--</option>  
                                                          <option *ngFor="let item of countryData" [value]="item">  
                                                            {{item}}  
                                                          </option>  
                                                        </select>  
                                                        <div *ngIf="country.invalid && QoutationFrom.submitted">  
                                                          <span style="color: red;">Please Select Country.</span>  
                                                        </div>   -->
                                                    <select id="CurrencyId-{{row}}" [ngModelOptions]="{standalone: true}" class="form-control" required 
                                                    name="CurrencyId-{{row}}"
                                                    id="CurrencyId-{{row}}"
                                                    #materialCurrency="ngModel"
                                                    [ngClass]="{'is-invalid': QoutationFrom.submitted && materialCurrency.invalid}"
                                                     [(ngModel)]="item.CurrencyId" >
                                                        <option [ngValue]="undefined">Select Currency</option>
                                                        <option *ngFor="let item of AllCourency" value="{{item.id}}">{{item.symbol}}</option>
                                                    </select>
                                                    <div *ngIf="QoutationFrom.submitted && materialCurrency.invalid" class="invalid-feedback">
                                                        <div *ngIf="materialCurrency.errors.required">Currency Required</div>
                                                    </div>
                                                </td>
                                                
                                                <td>
                                                    {{item.Unit}}
                                                </td>
                                                <td title="{{item.Description}}">
                                                    {{item.Description | slice:0:15}}
                                                </td>
                                                <td>
                                                    {{item.SubTotal | number:'1.2-2'}}
                                                </td>
    
                                                <td class="td-actions text-right">
                                                  <button type="button" (click)="removeMaterial(row)" rel="tooltip" class="btn btn-danger btn-icon btn-sm " 
                                                  data-original-title="" title="">
                                                    <i class="ni ni-fat-remove pt-1"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                    
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>

                        <br />
                        <div class="card">
                            <div class="card-header">
                                <b>Shipment Detail</b>
                            </div>
                            <div class="card-body">
                                <table class="table table-custom">
                                    <thead>
                                        <tr>
                                            <th>Detail</th>
                                            <th>Price</th>
                                            <th>Currency</th>
                                            <th>Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                               {{qoutationDto.ShipmentDetail| translate}}
                                            </td>
                                            <td>
                                                <input type="text"  mask="0*"  required  id="ShipmentPrice"  class="form-control input-sm"
                                                [(ngModel)]="qoutationDto.ShipmentPrice" name="ShipmentFixPrice" #ShipmentFixPrice="ngModel"
                                                [ngClass]="{ 'is-invalid': QoutationFrom.submitted && ShipmentFixPrice.invalid }"
                                                />
                                                <div *ngIf="QoutationFrom.submitted && ShipmentFixPrice.invalid" class="invalid-feedback">
                                                    <div *ngIf="ShipmentFixPrice.errors.required">Price Required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <select id="SCurrencyId" class="form-control" required  #SCurrencyId="ngModel"
                                                [ngClass]="{'is-invalid': QoutationFrom.submitted && SCurrencyId.invalid }"
                                                 [(ngModel)]="qoutationDto.ShipmentCurrencyId" name="SCurrencyId">
                                                    <option [ngValue]="undefined">Select Currency</option>
                                                    <option *ngFor="let item of AllCourency" value="{{item.id}}">{{item.symbol}}</option>
                                                </select>
                                                <div *ngIf="QoutationFrom.submitted && SCurrencyId.invalid" class="invalid-feedback">
                                                    <div *ngIf="SCurrencyId.errors.required">Currency Required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" [readonly]=true value="{{qoutationDto.ShipmentPrice}}"    id="ShipmentSubTotal"  class="form-control input-sm"
                                                [(ngModel)]="qoutationDto.ShipmentSubTotal" name="ShipmentSubTotal" />
                                            </td>
                                            
                                        </tr>
                                
                                    </tbody>
                                </table>
                             
                            </div>
                        </div>
                        <!-- //matrial  -->
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <b>Task Detail</b>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <label class="col-12" for="task">Task</label>
                                    <div class="col-12 p-0 mb-3 d-flex align-items-center">
                                        <div class="form-group mb-0 col-8">
                                        
                                        <!-- <select id="task"  class="form-control" [(ngModel)]="task"  name="task">
                                            <option [value]="undefined">Select Task</option>
                                            <option  [ngValue]="item" *ngFor="let item of taskList"> {{item.task_code}}</option>
                                        </select> -->
                                        <ng-select [items]="taskList" 
                                        bindLabel="name" name="task_code" id="task_code" 
                                        placeholder="Select Task" [(ngModel)]="task">
                                       </ng-select>
                                    </div>
                                        <button type="button" class="btn btn-primary ml-3"  [disabled]="!task" (click)="addTask()"> Add</button>
                                        </div>
                                </div>
                               <div class="col-12 p-0">

                                <!-- <div class="row">
                                    <div class="col-12 mt-3 justify-content-between d-flex align-items-center">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                              <li class="breadcrumb-item">{{item?.categoryName}}</li>
                                              <li class="breadcrumb-item">{{item?.task_code}}</li>
                                              <li class="breadcrumb-item active" aria-current="page">{{item?.name}}</li>
                                            </ol>
                                          </nav>
                                          <button type="button" (click)="EditTask(item, row)" rel="tooltip" class="btn text-white btn-icon-only bg-primary" data-original-title="" title="">
                                            <i class="ni ni-fat-remove pt-1"></i>
                                            </button>
                                          <button type="button" (click)="removeTask(row)" rel="tooltip" class="btn btn-danger btn-icon btn-sm" data-original-title="" title="">
                                            <i class="ni ni-fat-remove pt-1"></i>
                                            </button>
                                    </div>
                                </div> -->
                                <table class="table table-custom" *ngIf="qoutationDto.Tasks.length>0">
                                    <thead>
                                        <tr>
                                            <th>Task Code</th>
                                            <th>Description</th>
                                            <th>Hours</th>
                                            <th>Qty</th>
                                            <th>Total Hours</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let itemD of qoutationDto.Tasks;let row=index;">
                                            <td>
                                               {{itemD.taskCode}}
                                            </td>
                                            <td>
                                                {{itemD.Description  | slice:0:15}}
                                            </td>
                                            <td>
                                               {{itemD.perHoureRate | number:'1.2-2'}}
                                            </td>
                                            <td>
                                                <input [ngModelOptions]="{standalone: true}" type="text" mask="0*"  required  (keyup)="getSubTotalTask(row)"  id="TaskQty-{{row}}"  class="form-control input-sm"
                                                [(ngModel)]="itemD.qty" name="TaskQty-{{row}}" #TaskQty="ngModel"
                                                [ngClass]="{ 'is-invalid': QoutationFrom.submitted && TaskQty.invalid }"
                                                />
                                                <div *ngIf="QoutationFrom.submitted && TaskQty.invalid" class="invalid-feedback">
                                                    <div *ngIf="TaskQty.errors.required">Quentity Required</div>
                                                </div>
                                            </td>
                                            <td>
                                                {{itemD.subTotal==undefined?0:itemD.subTotal | number:'1.2-2'}}
                                             </td>
                                             <td class="td-actions text-right">
                                                <button type="button" (click)="removeTask(row)" rel="tooltip" class="btn btn-danger btn-icon btn-sm " 
                                                data-original-title="" title="">
                                                  <i class="ni ni-fat-remove pt-1"></i>
                                                  </button>
                                              </td>
                                        </tr>
                                    </tbody>
                                </table>
                               </div>
                               <div class="row d-flex" *ngIf="qoutationDto.Tasks.length>0">
                                <table class="table mb-4">
                                    <tbody>
                                      <tr>
                                        <th width="70%" class="text-right" scope="row">Task Total:</th>
                                        <td align="right">{{task_sub_total  | number:'1.2-2'}}</td>
                                      </tr>
                                    </tbody>
                                </table>

                              </div>
                            </div>
                        </div>

                        <br />
                        <div class="card">
                            <div class="card-header">
                                <b>Work Force Detail</b>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <label class="col-12" for="workFroce">Work Force</label>
                                    <div class="col-12 p-0 mb-3 d-flex align-items-center">
                                        <div class="form-group mb-0 col-8">
                                        <ng-select [items]="AllworkFroce"  
                                        bindLabel="name" name="workFroce" id="workFroce" 
                                        placeholder="Select Work Force" [(ngModel)]="workFroce">
                                       </ng-select>
                                    </div>
                                        <button type="button" class="btn btn-primary ml-3"  [disabled]="!workFroce" (click)="addWorkForce()"> Add</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="qoutationDto.workfroceDetail.length>0">
                                        <div class="row d-flex">
                                            <table class="table mb-4">
                                                <tbody>
                                                  <tr>
                                                    <th style="padding: 0px !important;"  class="text-right" scope="row">Total Task Hour:</th>
                                                    <td style="padding: 0px !important;" align="right">{{task_sub_total  | number:'1.2-2'}}</td>
                                                  </tr>
                                                  <tr>
                                                    <th style="padding: 0px !important;"  class="text-right" scope="row">Added Hour:</th>
                                                    <td style="padding: 0px !important;" align="right">{{workFroce_hour_total  | number:'1.2-2'}}</td>
                                                  </tr>
                                                  <tr>
                                                    <th style="padding: 0px !important;" class="text-right" scope="row">Remaining Hour:</th>
                                                    <td style="padding: 0px !important;" align="right">{{task_sub_total-workFroce_hour_total  | number:'1.2-2'}}</td>
                                                  </tr>
                                                </tbody>
                                            </table>
            
                                          </div>
                                    </div>
                                </div>
                               <div class="col-12 p-0">
                                <table class="table table-custom" *ngIf="qoutationDto.workfroceDetail.length>0">
                                    <thead>
                                        <tr>
                                            <th>Work Force</th>
                                            <th>Time(Hour)</th>
                                            <th>Time Type</th>
                                            <th>Rate</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of qoutationDto.workfroceDetail;let row12=index;">
                                            <td>
                                               {{item.workforceName}}
                                            </td>
                                            <td>
                                                <input [ngModelOptions]="{standalone: true}" type="text" id="houre12-{{row12}}"    mask="separator.2" thousandSeparator=","  required (keyup)="checkifGreater(row12)" class="form-control input-sm"
                                            [(ngModel)]="item.houre" name="houre12-{{row12}}" #houre12="ngModel"
                                            [ngClass]="{ 'is-invalid': QoutationFrom.submitted && houre12.invalid }"
                                            />
                                            <div *ngIf="QoutationFrom.submitted && houre12.invalid" class="invalid-feedback">
                                                <div *ngIf="houre12.errors.required">Hour Required</div>
                                            </div>
                                            </td>
                                            <td>
                                                <select [ngModelOptions]="{standalone: true}" id="workforce-{{row12}}" class="form-control" [disabled]="!item.houre" (change)="getPrice(row12)"
                                                 required [(ngModel)]="item.timeType" #workforce="ngModel" 
                                                 [ngClass]="{ 'is-invalid': QoutationFrom.submitted && workforce.invalid }"
                                                 name="workforce-{{row12}}">
                                                    <option [ngValue]="undefined">Select Time</option>
                                                    <option  value="normal">Business Hours Rate</option>
                                                    <option  value="over_time">Out Of Hours Rate</option>
                                                    <option  value="weekend">Weekend Rate</option>
                                                    <option  value="g_h" >Holiday Rate</option>
                                                </select>
                                                <div *ngIf="QoutationFrom.submitted && workforce.invalid" class="invalid-feedback">
                                                    <div *ngIf="workforce.errors.required">Time Type Required</div>
                                                </div>
                                            </td>
                                            <td>
                                                {{item.Price  | number:'1.2-2'}}
                                            </td>
                                            <td>
                                                {{item.Price*item.houre | number:'1.2-2'}}
                                             </td>
                                             <td class="td-actions text-right">
                                                <button type="button" (click)="removeWorkForce(row12)" rel="tooltip" class="btn btn-danger btn-icon btn-sm " 
                                                data-original-title="" title="">
                                                  <i class="ni ni-fat-remove pt-1"></i>
                                                  </button>
                                              </td>
                                        </tr>
                                    </tbody>
                                </table>
                               </div>
                             
                            </div>
                        </div>

                        <br />
                        <div class="card">
                            <div class="card-header">
                               <b>Additional Charges</b>
                                
                            </div>
                            <div class="card-body">
                                <div class="row" >
                                    <div class="form-group col-2">
                                        <button type="button" class="btn btn-primary"  (click)="AddadditionalCharges()"> Add</button>
                                    </div>
                                </div>
                                <table class="table table-custom" *ngIf="qoutationDto.additionalChanres.length>0">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Sub-Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of qoutationDto.additionalChanres;let row=index;">
                                            <td>
                                                <input type="text"   id="desctiption-{{row}}"  class="form-control input-sm" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="item.desctiption" name="desctiption-{{row}}" #desctiption="ngModel"   [ngClass]="{ 'is-invalid': QoutationFrom.submitted && desctiption.invalid }"
                                                />
                                                <div *ngIf="QoutationFrom.submitted && desctiption.invalid" class="invalid-feedback">
                                                    <div *ngIf="desctiption.errors.required">Desctiption is Required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" [ngModelOptions]="{standalone: true}"  (keyup)="ChnageAdditionCharges(row)"  id="priceAd-{{row}}"  class="form-control input-sm"
                                                [(ngModel)]="item.price" mask="0*"  name="priceAd-{{row}}" #priceAd="ngModel"   [ngClass]="{ 'is-invalid': QoutationFrom.submitted && priceAd.invalid }"
                                                />
                                                <div *ngIf="QoutationFrom.submitted && priceAd.invalid" class="invalid-feedback">
                                                    <div *ngIf="priceAd.errors.required">Price is Required</div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" [ngModelOptions]="{standalone: true}" [readonly]=true value="{{item.price}}"  (keyup)="ChnageAdditionCharges(row)"  id="subTotal-{{row}}"  class="form-control input-sm"
                                                [(ngModel)]="item.subTotal" name="subTotal-{{row}}" />
                                            </td>

                                            <td class="td-actions text-right">
                                              <button type="button" (click)="removeadditionalChanres(row)" rel="tooltip" class="btn btn-danger btn-icon btn-sm " 
                                              data-original-title="" title="">
                                                <i class="ni ni-fat-remove pt-1"></i>
                                                </button>
                                            </td>
                                        </tr>
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <div class="card-header">
                               <b>Attachment</b>
                            </div>
                            <div class="card-body">
                                <div class="row" >
                                    <div class="form-group col-2">
                                        <button type="button" class="btn btn-primary"  (click)="addAttenment()">Add</button>
                                    </div>
                                </div>
                                <table class="table table-custom" *ngIf="qoutationDto.attachments.length>0">
                                    <thead>
                                        <tr>
                                            <th>file</th>
                                            <th>Description</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of qoutationDto.attachments;let row=index;">
                                           <td>
                                                <input type="file" [ngModelOptions]="{standalone: true}" id="AttachecDcoment" (change)="OnAttachments($event,row)"  class="form-control"
                                               name="AttachecDcoment" />
                                           </td>
                                            <td>
                                                <input type="text" [ngModelOptions]="{standalone: true}" id="filedescription-{{row}}"  class="form-control input-sm"
                                                [(ngModel)]="item.description" name="filedescription-{{row}}" />
                                            </td>
                                            <td>
                                                <a *ngIf="item.file_attach" href="{{config?.yourSiteUrl + item.file_attach}}"  target="_blank">view</a>
                                            </td>

                                            <td class="td-actions text-right">
                                              <button type="button" (click)="RemoveAttenment(row)" rel="tooltip" class="btn btn-danger btn-icon btn-sm " 
                                              data-original-title="" title="">
                                                <i class="ni ni-fat-remove pt-1"></i>
                                                </button>
                                            </td>
                                        </tr>
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <b>Quotation Detail</b>
                            </div>
                            <div class="card-body">
                                <div class="row" >
                                    <div class="form-group col-6">
                                      <label for="CreatedDate">Validity Day(s)</label>
                                      <input type="text" mask="0*" id="ValidityDate"   class="form-control"
                                          [(ngModel)]="qoutationDto.ValidityDate" name="ValidityDate" #ValidityDate="ngModel"   [ngClass]="{ 'is-invalid': QoutationFrom.submitted && ValidityDate.invalid }"
                                          />
                                          <div *ngIf="QoutationFrom.submitted && ValidityDate.invalid" class="invalid-feedback">
                                              <div *ngIf="ValidityDate.errors.required">ValidityDate is Required</div>
                                          </div>
                                  </div> 
                                  <div class="form-group col-6">
                                      <label for="EstimatesComplationDate">Estimated Completion Date<span style="color: red;">
                                              *</span></label>
                                      <input type="date" required id="EstimatesComplationDate"  class="form-control" bsDatepicker 
                                          [(ngModel)]="qoutationDto.EstimatesComplationDate" name="EstimatesComplationDate" #EstimatesComplationDate="ngModel"   [ngClass]="{ 'is-invalid': QoutationFrom.submitted && EstimatesComplationDate.invalid }"
                                          />
                                          <div *ngIf="QoutationFrom.submitted && EstimatesComplationDate.invalid" class="invalid-feedback">
                                              <div *ngIf="EstimatesComplationDate.errors.required">Estimates Complation Date is Required</div>
                                          </div>
                                  </div>
                                  <!-- <div class="form-group col-6">
                                      <label for="CreatedDate">Select Document<span style="color: red;">
                                              *</span></label>
                                      <input type="file" id="AttachecDcoment" (change)="onFileSelect($event)"  class="form-control"
                                          [(ngModel)]="fileName" name="AttachecDcoment" />
                                  </div>  -->
                                 
                                  <div class="form-group col-lg-12">
                                      <label>Quotation Notes<span style="color: red;">
                                        *</span></label>
                                      <textarea id="QuotationNote" required [(ngModel)]="qoutationDto.QuotationNote" class="form-control" 
                                      #QuotationNote="ngModel"
                                      [ngClass]="{ 'is-invalid': QoutationFrom.submitted && QuotationNote.invalid }"
                                       name="QuotationNote" placeholder="Quotation Notes" rows="4" cols="50">
                                          </textarea>
                                          <div *ngIf="QoutationFrom.submitted && QuotationNote.invalid" class="invalid-feedback">
                                              <div *ngIf="QuotationNote.errors.required">Quotation Note is Required</div>
                                          </div>
                                  </div>
                                  
                              </div>
                              <div class="row d-flex">
                                <table class="table mb-4">
                                        
                                    <tbody>
                                      <tr>
                                        <th width="70%" class="text-right" scope="row">Material Total:</th>
                                        <td align="right">{{material_sub_total  | number:'1.2-2'}} $ </td>
                                      </tr>
                                      <tr>
                                        <th width="70%" class="text-right" scope="row">Labor Total:</th>
                                        <td align="right">{{workFroce_sub_total | number:'1.2-2'}} $ </td>
                                      </tr>
                                      <tr>
                                        <th width="70%"  class="text-right"  scope="row">Shipment Price:</th>
                                        <td align="right">{{qoutationDto.ShipmentPrice==undefined?0:qoutationDto.ShipmentPrice | number:'1.2-2'}} $</td>
                                      </tr>
                                      <tr>
                                        <th width="70%"  class="text-right"  scope="row">Additional Total:</th>
                                        <td align="right">{{additional_sub_total | number:'1.2-2'}} $</td>
                                      </tr>
                                      <tr>
                                        <th width="70%"  class="text-right"  scope="row">Total:</th>
                                        <td align="right"> {{isIfNumber(additional_sub_total)+isIfNumber(qoutationDto.ShipmentPrice)+isIfNumber(workFroce_sub_total)+isIfNumber(material_sub_total) | number:'1.2-2'}} $</td>
                                      </tr>
                                      
                                    </tbody>
                                </table>

                              </div>
                                <span class="float-right">
                                    <button class="btn btn-secondary" type="reset" (click)="reset()">Reset</button>
                                    <button  type="button" class="btn btn-danger" (click)="close()">{{"Close"}}</button>
                                    <button  type="button" class="btn btn-info" *ngIf="IsGenerated==0" [buttonBusy]="savingDraft" [busyText]="('Save Draft...')"  (click)="saveAsDraft()">{{"Save Draft"}}</button>
                                    <button *ngIf="(!params || IsGenerated == 0)" class="btn btn-primary blue"
                                        [buttonBusy]="saving" [busyText]="('Generate Quotation...')"><span>{{("Generate")}}</span>
                                    </button>

                                    <button *ngIf="params && IsGenerated == 1" class="btn btn-primary blue"
                                        [buttonBusy]="saving" [busyText]="('Update Quotation...')"><span>{{("Update")}}</span>
                                    </button>

                                </span>

                                
                            </div>
                            <div class="text-center">
                                <!-- <button class="btn btn-primary mr-1">Register</button>
                                <button class="btn btn-secondary" type="reset">Cancel</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
         <AddTaskDetailInQoutation  #createOrEditModalTask (modalSave)="ModalChangesEvent($event)"></AddTaskDetailInQoutation> 
         
    </div>
</div>












