.invalid{
    border: 1px solid red;
    margin-bottom: 5px;
  }
  
  .validation-span{
    color:#e66b6b;
  }

  .media-body{
    width: 80px;
  }

  .img-pic{
    margin-left: 0;
    height: 50px;
    width: 80px;
    float: right;
  }