
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block" >
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rate Card</li>
                </ol>
            </nav>
            </div>
            <div *ngIf="isGranted('Create Rate Card')" class="col-lg-6 col-5 text-right">
                <a  (click)="createnew()"class="btn btn-neutral">New</a>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-6">
                            <h2 class="mb-0">Rate Card</h2>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end">
                            <div class="form-group mr-2 mb-0">
                                <select class="form-control" (change)="setSearchColumn($event)">
                                    <option value="id">{{'Id' | translate}}</option>
                                    <option value="title">{{'Name' | translate}}</option>
                                    <option value="created_at">{{'Created Date' | translate}}</option>
                                </select>
                                <span class="svg-icon">
                                    <svg width="20px" height="20px" viewBox="0 0 16 16"
                                        class="bi bi-chevron-down" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                </span>
                            </div>
                            <div class="form-group mb-0">
                                <input
                            type="text"
                            class="form-control rounded-lg"
                            placeholder="Search"
                            (keyup)="searchRecord($event)"
                          />
                                </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- Light table -->
               
                <div class="card-body">
                    <ngx-datatable #table class="bootstrap" [columnMode]="ColumnMode.force" [rows]="rows" [columns]="columns"
                    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [externalPaging]="true" [count]="page.totalElements"
                    [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">
                    <ng-container *ngFor='let column of columns'>
                        <ngx-datatable-column *ngIf='column.name === "Default"' name="Default" prop="is_default">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.is_default == 1" class="badge badge-dot mr-4">
                                    <i class="bg-success"></i>
                                    <span class="status">{{'YES' | translate}}</span>
                                </span>
                                <span *ngIf="row.is_default == 0" class="badge badge-dot mr-4">
                                    <i class="bg-danger"></i>
                                    <span class="status">{{'NO' | translate}}</span>
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column *ngIf='column.name === "Status"' name="Status" prop="status">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <span *ngIf="row.status == 1" class="badge badge-dot mr-4">
                                    <i class="bg-success"></i>
                                    <span class="status">{{'Active' | translate}}</span>
                                </span>
                                <span *ngIf="row.status == 2" class="badge badge-dot mr-4">
                                    <i class="bg-warning"></i>
                                    <span class="status">{{'Pending' | translate}}</span>
                                </span>
                                <span *ngIf="row.status == 0" class="badge badge-dot mr-4">
                                    <i class="bg-danger"></i>
                                    <span class="status">{{'DeActive' | translate}}</span>
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column *ngIf='column.name === "Actions"' name="Actions" prop="actions">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <button *ngIf="isGranted('Update Rate Card')" class="btn text-white btn-icon-only bg-primary"  [routerLink]="['/admin/workfore/CreateOrEditRatecard']"
                                [queryParams]="{id: row.id}"><i class="fas fa-pencil-alt"></i> </button>
                                <button *ngIf="isGranted('Delete Rate Card')" class="btn text-white btn-icon-only bg-danger" (click)="delete(row.id)"><i class="far fa-trash-alt"></i></button>
                               
<!--                                 
                                <div class="dropdown">
                                    <a class="btn btn-icon-only text-primary" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item"
                                             [routerLink]="['/admin/workfore/CreateOrEditRatecard']"
                                            [queryParams]="{id: row.id}">{{'Edit Record' | translate}}</a>
                                        <a href="javascript:void(0)" class="dropdown-item"
                                            (click)="delete(row.id)">{{'Delete Record' | translate}}</a>
                                    </div>
                                </div> -->
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column
                            *ngIf='column.name !== "Actions" && column.name !== "Status" && column.name !== "Default"'
                            name="{{column.name}}" prop="{{column.prop}}">
                        </ngx-datatable-column>
                    </ng-container>
                </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- <button (click)="createWorkForce()" [buttonBusy]="saving" [busyText]="('SavingWithThreeDot')">show modal </button>
<app-create-or-edit-workforece-modal #createOrEditRoleModal (modalSave)="getRoles()"></app-create-or-edit-workforece-modal> -->