
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block" >
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Rate Card </li>
                </ol>
            </nav>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-6">
                            <h2 class="mb-0" *ngIf="!retecardId">Create Rate Card </h2>
                            <h2 class="mb-0" *ngIf="retecardId" >Edit Rate Card </h2>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
               
                <div class="card-body">
                    <form [formGroup]="createOrEditform" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Category Name</label>
                                <input type="text" formControlName="categoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }" />
                                <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                                    <div *ngIf="f.categoryName.errors.required">Category Name is required</div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Sub Category</label>
                                <input type="text" formControlName="subCategory" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subCategory.errors }" />
                                <div *ngIf="submitted && f.subCategory.errors" class="invalid-feedback">
                                    <div *ngIf="f.subCategory.errors.required">Sub Category is required</div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Normal Rate</label>
                                <input type="number" formControlName="normalRate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.normalRate.errors }" />
                                <div *ngIf="submitted && f.normalRate.errors" class="invalid-feedback">
                                    <div *ngIf="f.normalRate.errors.required">Normal Rate is required</div>
                                    
                                </div>
                            </div>
                          
                            <div class="form-group col-lg-6">
                                <label>Overtime Rate</label>
                                <input type="number" formControlName="overtimeRate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.overtimeRate.errors }" />
                                <div *ngIf="submitted && f.overtimeRate.errors" class="invalid-feedback">
                                    <div *ngIf="f.overtimeRate.errors.required">Overtime Rate is required</div>
                                </div>
                            </div>
                          
                             <div class="form-group col-lg-6">
                                <label>Weekend Rate</label>
                                <input type="number" formControlName="weekendrate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.weekendrate.errors }" />
                                <div *ngIf="submitted && f.weekendrate.errors" class="invalid-feedback">
                                    <div *ngIf="f.weekendrate.errors.required">Weekend Rate is required</div>
                                </div>
                            </div> 
                             <div class="form-group col-lg-6">
                                <label>Public Holiday Rate</label>
                                <input type="number" formControlName="publicHolidayrate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.publicHolidayrate.errors }" />
                                <div *ngIf="submitted && f.publicHolidayrate.errors" class="invalid-feedback">
                                    <div *ngIf="f.publicHolidayrate.errors.required">Public Holiday Rate is required</div>
                                </div>
                            </div> 

                        </div>
                     
                        <div class="text-right">
                            <button class="btn btn-primary mr-1" [buttonBusy]="saving" [busyText]="('Saving...')">Save</button>
                            <button class="btn btn-secondary" type="reset" (click)="onReset();close()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>











