
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
            
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block" >
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="margin-bottom: 0;">
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/dashboard"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/admin/workfore/agency">{{'Agencies'}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{'Add'}}</li>
                </ol>
            </nav>
            </div>
        </div>
        </div>
    </div>
</div>


<!-- Page content -->
<div class="container-fluid mt--6" >
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                   <!--  <div class="row align-items-center justify-content-between">
                        <div class="col-md-6">
                            <h2 class="mb-0" *ngIf="!agencyId">Create Agency </h2>
                            <h2 class="mb-0" *ngIf="agencyId" >Edit Agency </h2>
                        </div>
                    </div>-->
                    <div class="col-md-12">
                        <form [formGroup]="createOrEditform" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Agency Name</label>
                                    <input type="text" formControlName="agencyName" class="form-control" placeholder="Agency Name" [ngClass]="{ 'is-invalid': submitted && f.agencyName.errors }" />
                                    <div *ngIf="submitted && f.agencyName.errors" class="invalid-feedback">
                                        <div *ngIf="f.agencyName.errors.required">Name is required</div>
                                        <div *ngIf="f.agencyName.errors.pattern">Enter alphabets only</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Contact Person</label>
                                    <input type="text" formControlName="contactPerson" class="form-control" placeholder="Contact Person" [ngClass]="{ 'is-invalid': submitted && f.contactPerson.errors }" />
                                    <div *ngIf="submitted && f.contactPerson.errors" class="invalid-feedback">
                                        <div *ngIf="f.contactPerson.errors.required">Contact Person is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email</label>
                                    <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.pattern">{{'Email is not valid' | translate}}</div>
                                        
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Secondary Email</label>
                                    <input type="text" formControlName="Secondemail" class="form-control" placeholder="Optional Email" [ngClass]="{ 'is-invalid': submitted && f.Secondemail.errors }" />
                                    <div *ngIf="submitted && f.Secondemail.errors" class="invalid-feedback">
                                        
                                        <div *ngIf="f.Secondemail.errors.pattern">{{'Email is not valid' | translate}}</div>
                                    </div>
                                </div>
                              
                                <div class="form-group col-lg-6">
                                    <label>Contact Number</label>
                                    <input type="number" formControlName="contactNumber" class="form-control" placeholder="Contact Number" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" />
                                    <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
                                    </div>
                                </div>
        
        
                            </div>
                         
                            <div class="text-right">
                                <button class="btn btn-secondary" type="reset" (click)="onReset();close()">{{'Cancel'}}</button>
                                <button class="btn btn-primary mr-1">{{'Save'}}</button>
                                
                            </div>
                        </form>
                    </div>
                </div> 
                
                
               
                
            </div>
        </div>
    </div>
</div>











